/* CSS Document 

COLORS
background:		#E7E6DD
blue:			#0059AD

*/
body 
{
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			8pt;
	line-height:		11pt;
	color:				#000000;
	text-align:			left;
	background-color:	#BCBCBC;
	margin:				0 0 20px 0;
	padding:			0 0 0 0;  
        width:                  930px;
        height:                 630px;
}
input, select, textarea 
{
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			8pt;
	line-height:		8pt;
	color:				#000000;
}
input.disabledstyle
{
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:		9pt;
	line-height:		12pt;
	border:                 1px solid C9C7BA;
        color:                  E7E7BA;
}
input.enabledstyle
{
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:		9pt;
	line-height:		12pt;
	border:                 1px solid #7F9DB9;
        color:                  black;
        background-color:       white;
}
td 
{
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			8pt;
	line-height:		11pt;	
	color:				#000000;
	text-align:			left;
	vertical-align:		top;
}

#pageheader 
{
	color:				#FFFFFF;
	background-color:               #0059AD;		
	text-align:			left;
	padding:			5px 20px 0px 20px;
}

#sectionheader
{
        font-family:		Verdana, Arial, Helvetica, sans-serif;
        font-size:			10pt;
        font-weight:            bolder;
	line-height:		11pt;	
	color:				#0059AD;
	text-align:			left;
	vertical-align:		top;
}

#pagemenu
{
 	font-weight:		bold;		  
	font-size:			10pt;
	line-height:		14pt;	
	color:				#FFFFFF;
	padding:			10px 0 5px 0;
        vertical-align:         bottom;
}
#pagemenu a
{
	color:				#FFFFFF;
	text-decoration:	none;
}
#pagemenu a:hover
{
	color:				#0059AD;
	background-color:	#FFFFFF;		
	text-decoration:	none;
}
#pageline 
{
	color:				#CCCCCC;
	background-color:	#000000;		
	padding: 			5px 20px 5px 20px;
}
#breadcrumb {
	color:				#CCCCCC;
	background-color:	#000000;		
	font-weight:		bold;		
	text-align:			left;
	float:				left;
}
#log {
	color:				#FFFFFF;
	background-color:	#000000;		
	text-align:			right;
	font-weight:		normal;
	float:right;
}
#menubar {
	float:		  		left;
	text-align:			center;
	margin: 			20px 15px 10px 0px;
	background-image: 	url(images/cloudsborder.jpg);
	background-repeat:	no-repeat;
	width:				223px;
	height:				620px;
}
#menubar a {
	background-color:	none;
	text-decoration:	none;
	color:				#0059AD;
}
#menubar a:hover {
	text-decoration:	underline;
}
#menubar a.on {
	background-color:	none;
	text-decoration:	none;
	color:			#990000;
}
#menubar a.on:hover {
	text-decoration:	underline;
}

#box
{
	 border:		1px solid #666666;
	 padding:		2px 5px 2px 5px;
	 background-color:	#EFEFEF;
         
}
table.box
{
	 border:		1px solid #666666;
	 padding:		2px 5px 2px 5px;
	 background-color:	#EFEFEF;

}
#boxtitle 
{
	color:			white;
	background-color:	#0059AD;
	font-weight:		bold;		
	
}

#label
{
	font-weight:		bold;
	color:				#666666;
	text-align:			left;
	vertical-align:		top;
}

#labelred
{
	font-weight:		bold;
	color:				#CC0000;
	text-align:			left;
	vertical-align:		top;
}

input.txt
{
    border: 3px solid #7F9DB9;
}
input.txtnormal
{
    border: 1px solid #7F9DB9;
}
select.sel
{
    border: 3px solid #7F9DB9;
}

#smallbtn {
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			9px;
	font-weight:		bold;
    color: 				#FFFFFF;
    background-color:	#0059AD; 
    border-top: 		1px solid #0066CC; 
    border-right: 		1px solid #003366;
    border-bottom: 		1px solid #003366;
    border-left: 		1px solid #0066CC;
}

#btn {
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			12px;
	font-weight:		bold;
        
    color: 				#FFFFFF;
    background-color:	#0059AD; 
    border-top: 		1px solid #0066CC; 
    border-right: 		1px solid #003366;
    border-bottom: 		1px solid #003366;
    border-left: 		1px solid #0066CC; 
    padding:		2px 0px 2px 0px;
}

input.btn  {
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-size:			12px;
	font-weight:		bold;

    color: 				#FFFFFF;
    background-color:	#0059AD;
    border-top: 		1px solid #0066CC;
    border-right: 		1px solid #003366;
    border-bottom: 		1px solid #003366;
    border-left: 		1px solid #0066CC;
    padding:		2px 0px 2px 0px;
}

#btnlarge {
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			13px;
	font-weight:		bold;
        
    color: 				#FFFFFF;
    background-color:	#0059AD; 
    border-top: 		1px solid #0066CC; 
    border-right: 		1px solid #003366;
    border-bottom: 		1px solid #003366;
    border-left: 		1px solid #0066CC; 
    padding:		2px 0px 2px 0px;
}

#btnlarge1 {
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			14px;
	font-weight:		bold;
        
    color: 				#FFFFFF;
    background-color:	#0059AD; 
    border-top: 		1px solid #0066CC; 
    border-right: 		1px solid #003366;
    border-bottom: 		1px solid #003366;
    border-left: 		1px solid #0066CC; 
    padding:		2px 40px 2px 40px;
}

#tab {
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			10px;
	font-weight:		bold;
    color: 				#FFFFFF;
    background-color:	#0059AD; 
    border-top: 		1px solid white; 
    border-right: 		1px solid white;
    border-bottom: 		1px solid white;
    border-left: 		1px solid white;
}
#even {
	background-color:#FFFFCC;	
}
#odd {
	background-color:#FFFFFF;	
}


h1, h2, h3, h4, h5 {
	color: 				#005CAC;
	margin: 			0 0 5px 0;	
}
h1 {
    font-size: 16pt;
    line-height: 18pt;
	font-variant:small-caps;
}
h2 {
    font-size: 13pt;
    line-height: 16pt;
	
}
h3 {
        font-size: 12pt;
        line-height: 14pt;
		font-variant:small-caps;
		letter-spacing:1px;
		color:#009900;
}
h4 {
        font-size: 10pt;
        line-height: 12pt;
		color:#000000;
		font-weight:bold;

}
h5 {
        font-size: 8pt;
        line-height: 10pt;
		color:#005CAC;
		font-weight:bold;

}

a
{
	color:			#0066CC;
	text-decoration:	underline;
}

.select{
    background-color: #44FFCC;
}

.unselect{
    background-color: #efefef;

}

.unselect:hover{
    background-color: #33CCFF;

}


/*Eric Meyer's based CSS tab*/

#tablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0.1em;
font: bold 12px Verdana;
}

#tablist li{
list-style: none;
display: inline;
margin: 0;
}

/*#tablist li a { color: #000; background: #bebebe; text-decoration: none }
#tablist li a {
   color: #000;
   background: #bebebe uri("images/leftarc.bmp") left top no-repeat;
   text-decoration: none;
   padding-left: 10px;
}

#tablist li a.current{
   color: #000;
   background: #b2b2b2 uri("images/leftarc.bmp") left top no-repeat;
   text-decoration: none;
   padding-left: 10px;
}

#tablist li a span {
   background: uri("images/rightarc.bmp") right top no-repeat;
   padding-right: 10px;
}*/

#tablist li a{
text-decoration: none;
padding: 5px 30px 5px 30px;
margin-left: 3px;
border: 1px solid #cccccc;
background: #bcbcbc url("leftarc.gif") left top no-repeat;
}

#tablist li a span {
   background: url("rightarc.gif") right top no-repeat;
}

#tablist li a:link, #tablist li a:visited{
color: black;
}

#tablist li a:hover{
color: black;
background: #bcbcbc;
border-color: #cccccc;
}

#tablist li a.current{
background: #bcbcbc url("leftarc.gif") left top no-repeat;
border-bottom:none;

}


/* OLD STUFF
td.label2
{
	
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			10pt;
	line-height:		11pt;	
	color:				#191970;
	text-align:			left;
	vertical-align:		top;
}
td.listheading
{
	font-weight:		bold;
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			8pt;
	line-height:		11pt;	
	background-color:	#005CAC;
	color:				#FFFFFF;
}
td.navigation
{   
	font-weight: bold;
    height: 17px;
    font-family   : Verdana,Helvetica, sans-serif;	
	color         :	#ff3333;
    font-size     : 9px;
}	

span.red
{
	font-weight:		bold;
	color:				#CC0000;
}
div.red
{
	font-size:			15px;
	line-height:		18px;
	color:				#CC0000;
}
div.grey
{
	color:				#999999;
}
div.blue
{
    font-size:10px;
    background-color:#005CAC;
    color:#FFFFFF;
}
    
div.hr
{
	border-bottom:		solid 1px #CC0000;
	width:				95%;
	height:				15px;
}
div.quote
{
	color:				#999999;
	font-size:			20px;
	line-height:		22px;
	padding:			20px;
	padding-top:		100px;
	font-style: 		italic;	
}
div.copyright
{
	color:				#666666;
	font-size:			10px;	
	border-top:			solid 1px #CCCCCC;
	padding-top:		5px;
}
a.copyright,a.copyright:visited, a.copyright:hover
{
	color:				#CC0000;
}
a.top,a.top:visited
{
	font-family:		Arial, Verdana, Helvetica, sans-serif;	
	font-size:			10px;
	line-height:		10px;	
	color:				#999999;
	font-variant:		small-caps;
	letter-spacing:		1px;	
	text-decoration:	none;
}
a.top:hover {
	color:				#CC0000;
}
a.login, a.login:visited
{
	font-family:		Arial, Verdana, Helvetica, sans-serif;	
	font-size:			18px;
	line-height:		22px;	
	color:				#003399;
	background-color:	#EFEFEF;	
	text-decoration:	none;
	border:				solid 1px #003399;
	padding:			5px;
	font-variant:		small-caps;
	letter-spacing:		1px;
}
a.login:hover
{
	font-family:		Arial, Verdana, Helvetica, sans-serif;	
	font-size:			18px;
	line-height:		22px;	
	color:				#FFFFFF;
	background-color:	#CC0000;
	text-decoration:	none;
	border:				solid 1px #000000;	
	padding:			5px;	
	font-variant:		small-caps;
	letter-spacing:		1px;
}


div.content {
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			8pt;
	color:				#000000;
	line-height:		10pt;
	padding:			10px 20px 20px 0;
}

input.submit_login {
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			10pt;
     color: #FFFFFF;
     background-color:#005CAC; 
     border-top: 2px solid #0066CC; 
     border-right: 2px solid #003366;
     border-bottom: 2px solid #003366;
     border-left: 2px solid #0066CC;
     margin: 5px 0 0 0;
     padding: 1px 2px 1px 2px;
     font-weight: bold;
}
*/