/****
 **** QuickAddress Pro Web > (c) QAS Ltd > www.qas.com
 **** Web > Address Capture, Address Verification > Style sheet
 **** Intranet > Singleline > Style sheet
 ****/


body {
	background-color: white;
	color: black;
	font-family: verdana, arial, sans-serif;
	font-size: 67%;
}

h1 {
	font-size: 160%;
}
h2 {
	font-size: 140%;
}
h3 {
	font-size: 130%;
}

a {
	border-bottom: 1px solid #3353AF;
	color: black;
	text-decoration: none;
}
a:hover {
	color: #3353AF;
}
a img, a.img {
	border: 0;
}


/**** Tables ****/


table {
	border-collapse: collapse;
	font-size: 100%;
	margin: 2em 2em 2em 2em;
}
th {
	font-size: 125%;
}

table.nomargin {
	border: 0;
	margin: 0;
}
td.nomargin {
	padding-left: 0;
	padding-top: 0;
}

table.indent {
	margin: 2em 0em 2em 1em;
}
table.indent td {
	vertical-align: top;
}

th.banner {
	background-color: #CED5EA;
	background-image: url(img/proLogo.gif);
	background-position: 99% 50%;
	background-repeat: no-repeat;
	border-bottom: white 1.2em solid;
	color: #000066;
	font-size: 135%;
	padding: 0.5em 0.5em;
	text-align: left;
}
th.banner h1, th.banner h2 {
	margin-bottom: 0;
	margin-top: 0;
}
th.banner h2 {
	font-weight: normal;
}
th.banner a, th.banner a:hover {
	color: #000066;
	border-bottom: none;
}

table.pickle {
	border: 0;
	border-collapse: collapse;
}
td.pickle {
	padding: 0;
}


/**** Special ****/


img.icon {
	border: 0;
	margin-right: 1em;
	vertical-align: middle;
}

select#country {
	width: 13em;
}

.alignright {
	text-align: right;
}
.big {
	font-size: 140%;
}
.grey {
	color: #606060;
}
.pre {
	white-space: pre;
}
.readonly {
	background-color: #F0F0F0;
}

.debug {
	visibility: visible;
	color: green;
	margin: 1em 0em 1em 0em;
	border: 0;
	vertical-align: middle;
}
.error {
	color: red;
}


/* End */
