body
{
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			12pt;
	color:				#000000;
	text-align:			left;
	background-color:	#BCBCBC;
	margin:				0 0 0px 0;
	padding:			0 0 0 0;  
}

table 
{
	font-size:			12px;
	line-height:		13px;
}

.btn {
	font-size:			13px;
	font-weight:		bold;
    color: 				#FFFFFF;
    background-color:	#0059AD; 
    border-top: 		1px solid #0066CC; 
    border-right: 		1px solid #003366;
    border-bottom: 		1px solid #003366;
    border-left: 		1px solid #0066CC; 
    padding:			2px 0px 2px 0px;
}

.box
{
	border:				1px solid #666666;
	padding:			3px 3px 3px 3px;
	background-color:	#EFEFEF;
	font-size:			12px;
	line-height:		13px;
}

.boxheading1 
{
	color:				white;
	background-color:	#0059AD;
	font-size:			13px;
	line-height:		18px;
	font-weight:		bold;		
}

.boxheading2 
{
	font-size:			12px;
	font-weight:		bold;		
}

.startstatus
{
	color:				green
}

.failedstatus
{
	color:				red
}