/* CSS Document 

COLORS
background:		#E7E6DD
blue:			#0059AD

*/
body 
{
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			8pt;
	line-height:		11pt;
	color:				#000000;
	text-align:			left;
	background-color:	#FFFFFF;
	margin:				0 0 20px 0;
	padding:			0 0 0 0;  
}
input, select, textarea 
{
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			8pt;
	line-height:		8pt;
	color:				#000000;
}
td 
{
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			8pt;
	line-height:		11pt;	
	color:				#000000;
	text-align:			left;
	vertical-align:		top;
}
#pageheader 
{
	color:				#FFFFFF;
	background-color:	#0059AD;		
	text-align:			left;
	padding:			5px 20px 5px 20px;
}
#pagemenu
{
 	font-weight:		bold;		  
	font-size:			10pt;
	line-height:		14pt;	
	color:				#FFFFFF;
	padding:			10px 0 5px 0;
}
#pagemenu a
{
	color:				#FFFFFF;
	text-decoration:	none;
}
#pagemenu a:hover
{
	color:				#0059AD;
	background-color:	#FFFFFF;		
	text-decoration:	none;
}
#pageline 
{
	color:				#CCCCCC;
	background-color:	#000000;		
	padding: 			5px 20px 5px 20px;
}
#breadcrumb {
	color:				#CCCCCC;
	background-color:	#000000;		
	font-weight:		bold;		
	text-align:			left;
	float:				left;
}
#log {
	color:				#FFFFFF;
	background-color:	#000000;		
	text-align:			right;
	font-weight:		normal;
	float:right;
}
#menubar {
	float:		  		left;
	text-align:			center;
	margin: 			20px 15px 10px 0px;
	background-image: 	url(images/cloudsborder.jpg);
	background-repeat:	no-repeat;
	width:				223px;
	height:				620px;
}
#menubar a {
	background-color:	none;
	text-decoration:	none;
	color:				#0059AD;
}
#menubar a:hover {
	text-decoration:	underline;
}
#menubar a.on {
	background-color:	none;
	text-decoration:	none;
	color:				#990000;
}
#menubar a.on:hover {
	text-decoration:	underline;
}

#box {
	 border:			1px solid #666666;
	 padding:			5px 5px 5px 5px;
	 background-color:	#EFEFEF;
}
#boxtitle 
{
	color:				#FFFFFF;
	background-color:	#0059AD;
	font-weight:		bold;		
	vertical-align:		top;
}

#label
{
	font-weight:		bold;
	color:				#666666;
	text-align:			right;
	vertical-align:		top;
}

#btn {
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			11px;
	font-weight:		bold;
    color: 				#FFFFFF;
    background-color:	#0059AD; 
    border-top: 		1px solid #0066CC; 
    border-right: 		1px solid #003366;
    border-bottom: 		1px solid #003366;
    border-left: 		1px solid #0066CC;
}
#even {
	background-color:#FFFFCC;	
}
#odd {
	background-color:#FFFFFF;	
}
a
{
	color:				#0066CC;
	text-decoration:	underline;
}
a:visited
{
	color:				#003366;
	text-decoration:	underline;
}
a:hover
{
	color:				#0059AD;
}
h1, h2, h3, h4 {
	color: 				#005CAC;
	margin: 			0 0 5px 0;	
}
h1 {
    font-size: 16pt;
    line-height: 18pt;
	font-variant:small-caps;
}
h2 {
    font-size: 13pt;
    line-height: 16pt;
    text-align:center; 	
	
}
h3 {
        font-size: 12pt;
        line-height: 14pt;
		font-variant:small-caps;
		letter-spacing:1px;
		color:#009900;
}
h4 {
        font-size: 10pt;
        line-height: 12pt;
		color:#000000;
		font-weight:bold;

}


div.centered 
{
text-align: center;
}
div.centered table 
{
margin: 0 auto; 
text-align: left;
}




/* OLD STUFF
td.label2
{
	
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			10pt;
	line-height:		11pt;	
	color:				#191970;
	text-align:			left;
	vertical-align:		top;
}
td.listheading
{
	font-weight:		bold;
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			8pt;
	line-height:		11pt;	
	background-color:	#005CAC;
	color:				#FFFFFF;
}
td.navigation
{   
	font-weight: bold;
    height: 17px;
    font-family   : Verdana,Helvetica, sans-serif;	
	color         :	#ff3333;
    font-size     : 9px;
}	

span.red
{
	font-weight:		bold;
	color:				#CC0000;
}
div.red
{
	font-size:			15px;
	line-height:		18px;
	color:				#CC0000;
}
div.grey
{
	color:				#999999;
}
div.blue
{
    font-size:10px;
    background-color:#005CAC;
    color:#FFFFFF;
}
    
div.hr
{
	border-bottom:		solid 1px #CC0000;
	width:				95%;
	height:				15px;
}
div.quote
{
	color:				#999999;
	font-size:			20px;
	line-height:		22px;
	padding:			20px;
	padding-top:		100px;
	font-style: 		italic;	
}
div.copyright
{
	color:				#666666;
	font-size:			10px;	
	border-top:			solid 1px #CCCCCC;
	padding-top:		5px;
}
a.copyright,a.copyright:visited, a.copyright:hover
{
	color:				#CC0000;
}
a.top,a.top:visited
{
	font-family:		Arial, Verdana, Helvetica, sans-serif;	
	font-size:			10px;
	line-height:		10px;	
	color:				#999999;
	font-variant:		small-caps;
	letter-spacing:		1px;	
	text-decoration:	none;
}
a.top:hover {
	color:				#CC0000;
}
a.login, a.login:visited
{
	font-family:		Arial, Verdana, Helvetica, sans-serif;	
	font-size:			18px;
	line-height:		22px;	
	color:				#003399;
	background-color:	#EFEFEF;	
	text-decoration:	none;
	border:				solid 1px #003399;
	padding:			5px;
	font-variant:		small-caps;
	letter-spacing:		1px;
}
a.login:hover
{
	font-family:		Arial, Verdana, Helvetica, sans-serif;	
	font-size:			18px;
	line-height:		22px;	
	color:				#FFFFFF;
	background-color:	#CC0000;
	text-decoration:	none;
	border:				solid 1px #000000;	
	padding:			5px;	
	font-variant:		small-caps;
	letter-spacing:		1px;
}


div.content {
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			8pt;
	color:				#000000;
	line-height:		10pt;
	padding:			10px 20px 20px 0;
}

input.submit_login {
	font-family:		Verdana, Arial, Helvetica, sans-serif;	
	font-size:			10pt;
     color: #FFFFFF;
     background-color:#005CAC; 
     border-top: 2px solid #0066CC; 
     border-right: 2px solid #003366;
     border-bottom: 2px solid #003366;
     border-left: 2px solid #0066CC;
     margin: 5px 0 0 0;
     padding: 1px 2px 1px 2px;
     font-weight: bold;
}
*/
